<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%= url("css/style.css")%>">

  </head>

  <body>
    <div class="container text-center wrapper">
      <div class="row">
        <div class="col-xs-12 offset-md-3">
          <img class="seraphin" src="images/lampion.svg" alt="">
        </div>
        <div class="col-xs-12 offset-md-3">
          <h1 class= "blink message"><%= @message %></h1>
        </div>
      </div>
    </div>
  </body>
</html>
